@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400&subset=latin-ext');

p.caption {
  color: #777;
  margin-top: 10px;
}
code {
  font-family: 'Source Code Pro', monospace!important;
}

p code {
  font-family: 'Source Code Pro', monospace!important;
  white-space: inherit;
}
pre {
  font-family: 'Source Code Pro', monospace!important;
  word-break: normal;
  word-wrap: normal;
}
pre code {
  font-family: 'Source Code Pro', monospace!important;
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.toc-footer{
  position:absolute;
  bottom:0;
}
#header {
    text-align: center;
    font-family: "Source Sans Pro", 'Helvetica Neue', sans-serif;
}
.author {
    line-height: 1;
    display: inline-block;
    min-width: 25%;
}
.title {
    line-height: 1.2em;
}
.book .font-family-0 {
    font-family: "Source Serif Pro", Palatino, serif;
}
.lead{
  font-size: 1.7rem;
  text-align: center;
  font-weight: 300;
}
