p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.toc-footer{
  position:absolute;
  bottom:0;
}
#header {
    text-align: center;
    font-family: Palatino, serif;
}
.author {
    line-height: 1;
    display: inline-block;
    min-width: 25%;
}
.title {
    line-height: 1.2em;
}