.todo.TODO{
    font-size: 0.6em;
    background-color: #3b5998;
    color: white;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
}
.done.DONE{
    font-size: 0.6em;
    background-color: #2e8645;
    color: white;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
}
ul {
    padding-left: 0em;
    list-style: none;
}
li:before { 
    content: "\25A2";
    padding-right: 10px;
}
h1+ul>li:before{
    content: "";
    padding-right: 0px;
}

